img{
    max-width: 100%;
    width: 400px;
    height: 400px;
    display: block;
}

section{
    display: flex;
    justify-content: space-around;
}

.img01{
    border: solid 4px blue;
}

.img02{
    border: solid 4px red;
    opacity: 0.7;
}

h2{text-align: center;}
